
/* colors */
$color-primary: #FFEFF0 ;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary: #fff;
$color-accent: #e40f79;
$color-accent-hover: darken($color-accent, 10%);

/* fonts */
$color-title:#000;
$color-text:#4A4A4A;
$color-label: #999999;
$font-primary: 'AmstelvarAlpha Default', sans-serif;
$font-text: "Montserrat", sans-serif;




