
/* colors */
$color-primary: #FFEFF0 ;
$color-primary-hover: #FFE4E6;
$color-secondary: #fff;
$color-accent: #e40f79;
$color-accent-hover: #ab1962;

/* fonts */
$color-title:#000;
$color-text:#4A4A4A;
$color-label: #999999;
$font-primary: "Libre Caslon Display", serif;
$font-text: "Montserrat", sans-serif;




