// Importa tus archivos SCSS parciales primero
@import 'variables'; // Asegúrate de que este archivo esté en la carpeta 'styles'
@import 'mixins';
@import 'fonts'; // Asegúrate de que este archivo esté en la carpeta 'styles'

//
@import './atoms/buttons';
@import './atoms/typography';
@import './atoms/icons';
@import './molecules/lists';
@import './molecules/card';
@import './organisms/header';
@import './organisms/footer';
@import './templates/main-layout';
@import './organisms/banner';
@import './organisms/projects';
@import './organisms/technologies';

// Importa Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Estilos globales personalizados

body{
     font-family: $font-text;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
     color: $color-text;
     
}

.title{
     font-family:$font-primary;
     font-weight:normal;
     color:$color-title;
}
.subtitle{
     color: $color-accent;
     font-weight: 700;
}

.slider-buttons.default{
     background-color: #fff;
   
   
 }
 .slider-buttons.active{
   background-color: #e40f79;
 }