.slider {
  position: relative;

  .controls {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;

    button {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s ease;

      &.active {
        background-color: #007bff; // Color activo
      }
    }
  }
}
